# NOTE: Installing black, isort, and pylint to keep my workflow happy, but
# formating on save/paste must be disabled in VScode or other editor to avoid
# large diffs with upstream GDM when making changes.
black==23.3.0
isort==5.12.0
pre-commit==3.3.1
pylint==2.17.4
