# NOTE: Installing black, isort, and pylint to keep my workflow happy, but
# formating on save/paste must be disabled in VScode or other editor to avoid
# large diffs with upstream GDM when making changes.
black==23.12.0
isort==5.13.2
pre-commit==3.6.0
pylint==3.0.3
